 .function-nav .nav-true {

     color: #06425C;
     background-color: #FFFFFF;
     overflow: auto;
     padding-left: 3%;

     position: fixed;



 }


 .function-nav .nav-true .auto-link {
     box-sizing: border-box;
     display: inline-block;
     color: #000;
     background-color: #fff;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;



 }




 @media all and (min-width:600px) {



     .function-nav .nav-true {


         background-color: #fff;
         display: inline-block;
         height: 100vh;
         margin-top: 20px;
         justify-content: center;

     }


     .function-nav .nav-true .auto-link {
         display: block;
         color: #000;
         justify-content: center;
         margin-top: 35px;
         text-decoration: none;
         padding: 10px;
         text-align: left;
         font-size: 20px;
         border-radius: 30px;


     }

     .function-nav .nav-true .hover-top .auto-link:hover {
         display: block;

         color: rgb(254, 255, 255);
         background-color: rgb(17, 146, 197);


         text-decoration: none;

     }





 }

 .navbar-brand img:hover {
     background-color: rgb(17, 146, 197);
     padding: 8px;
     border-radius: 10px;
 }

 .navbar-brand p {
     margin: 0%;
     padding-top: 0%;
     font-weight: 400;
     font-family: sans-serif;
 }