/*post*/
/* 

.container-post {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;

}

.container-post h1 {
    font-weight: 400;
    margin-left: 20px;
    font-size: 20px;
    padding: 20px;

}


input {
    border-radius: 5px;
    width: 65%;
    padding: 25px;
    border: none;
    margin-left: 20px;


}

.btn2 {
    height: 40px;
    width: 20%;
    outline: none;
    border: none;
    background: #3aafa9;
    color: #fff;
    border-radius: 10px;

    font-weight: 700;
    margin: 20px;
}

.icon {
    height: 40px;
    width: 60px;
}









@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    font-family: "Roboto", Arial, sans-serif;
}

h1 {
    font-weight: 100;
    color: #777;
}

.main-wrapper-ananthu {
    border-radius: 4px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
}

i.material-icons {
    font-size: 1.3rem;
    color: white;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 50%;
    padding: 2px;

    margin: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.material-icons:after {
    content: "";
    width: 50px;
    height: 50px;
    border: solid 2px;
    transform: scale(0.8);
    position: absolute;
    top: 1px;
    left: -1px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

i.material-icons:hover:after {
    transform: scale(1);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(4) {
    background-color: #88b999;
}

i.material-icons:nth-of-type(4):hover {
    color: #88b999;
}

i.material-icons:nth-of-type(4):after {
    border-color: #88b999;
}

i.material-icons:nth-of-type(5) {
    background-color: #88b2b9;
}

i.material-icons:nth-of-type(5):hover {
    color: #88b2b9;
}

i.material-icons:nth-of-type(5):after {
    border-color: #88b2b9;
}

i.material-icons:nth-of-type(6) {
    background-color: #8897b9;
}

i.material-icons:nth-of-type(6):hover {
    color: #8897b9;
}

i.material-icons:nth-of-type(6):after {
    border-color: #8897b9;
}

i.material-icons:nth-of-type(7) {
    background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
    color: #af88b9;
}

i.material-icons:nth-of-type(7):after {
    border-color: #af88b9;
}

i.material-icons:nth-of-type(8) {
    background-color: #d59acb;
}

i.material-icons:nth-of-type(8):hover {
    color: #d59acb;
}

i.material-icons:nth-of-type(8):after {
    border-color: #d59acb;
}

i.material-icons:nth-of-type(1) {
    background-color: #cd8484;
}

i.material-icons:nth-of-type(1):hover {
    color: #cd8484;
}

i.material-icons:nth-of-type(1):after {
    border-color: #cd8484;
}

i.material-icons:nth-of-type(2) {
    background-color: #ec9f83;
}

i.material-icons:nth-of-type(2):hover {
    color: #ec9f83;
}

i.material-icons:nth-of-type(2):after {
    border-color: #ec9f83;
}

i.material-icons:nth-of-type(3) {
    background-color: #cdb274;
}

i.material-icons:nth-of-type(3):hover {
    color: #cdb274;
}

i.material-icons:nth-of-type(3):after {
    border-color: #cdb274;
}

i.material-icons:hover {
    background-color: transparent;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;

}

p {
    color: #999;
    font-weight: 300;
    margin-top: 20px;
}

@media (min-width:601px) {
    i.material-icons {
        padding: 10px;
        margin: 5px;
        font-size: 1.3rem;
    }
}

@media (min-width:993px) {
    i.material-icons {
        padding: 15px;
        margin: 10px;
        font-size: 1.3rem;
    }

    i.material-icons:after {
        border-width: 2px;
        top: 1px;
        left: 1px;
    }
}


.icon-class-ananthu {
    margin-left: 20px;

}


.wrapper-ananthu {
    max-width: 800px;
    margin: 30px auto;
}

.photo_submit-container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.photo_submit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    background: #f8f8f8;
    border-radius: 8px;

}

.photo_submit-input {
    display: none;
}

.photo_submit-plus {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: cadetblue;
    pointer-events: none;
}




.photo_submit-uploadLabel {
    margin-top: 1rem;
    font-size: 21px;
    color: cadetblue;
    letter-spacing: 0.03em;
    pointer-events: none;


}

.photo_submit-delete {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;

    width: 24px;
    height: 24px;

    background: #f8f8f8;

    border-radius: 50%;

    text-indent: -9999px;
    cursor: pointer;


} */

.alwin-post button {
    background-color: #2fa8f8;
    /* Green */
    border: none;
    color: white;
    width: 60%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    float: right;
    border-radius: 30px;

}

.alwin-post2 button {
    background-color: #2fa8f8;
    /* Green */
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    padding: 13px 43px 13px 43px;


    border-radius: 30px;
}






.tb {
    display: table;
    width: 100%;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

a {
    text-decoration: none;
}


::placeholder {
    color: #f1f1f1;
}

main {
    width: 1280px;
    margin: 0 auto;
    background-color: #e9ebee;
    box-shadow: 0px 8px 30px #1d2d4f;
    border-radius: 4px;
    overflow: hidden;
}

#device-bar-1 {
    text-align: right;
    padding: 6px;
    background-color: #000;
    overflow: hidden;
}

/* 
#device-bar-1 button {
    width: 15px;
    height: 15px;
    float: left;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
} */

#device-bar-1 button:first-child {
    background-color: #f35d5b;
}

#device-bar-1 button:nth-child(2) {
    background-color: #f6bd3a;
}

#device-bar-1 button:last-child {
    background-color: #44cc45;
}

/* Header */
header {
    padding: 15px 20px;
    background-color: #4267b2;
}

#logo {
    width: 30px;
}

#logo a {
    display: block;
}

#logo a i {
    font-size: 34px;
    color: #fff;
}

#search-form form {
    position: relative;
    width: 280px;
    font-size: 16px;
    padding: 8px 15px;
    padding-right: 37px;
    background-color: #3b5ca0;
    border-radius: 20px;
    margin-left: 15px;
}

#search-form form input {
    width: 100%;
    color: #fff;
    border: 0;
    background-color: transparent;
}

#search-form form button {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #f1f1f1;
    height: 22px;
    line-height: 1;
    cursor: pointer;
}

#search-form form button i {
    font-size: 22px;
}

#f-name-l {
    width: 1px;
    color: #fff;
    font-weight: bold;
    white-space: pre;
    padding-right: 20px;
}

#f-name-l span {
    padding-right: 28px;
    border-right: 1px solid #35518b;
}

#i-links {
    width: 1px;
}

#m-td {
    padding-right: 20px;
}

#m-td span {
    position: relative;
    cursor: pointer;
}

#m-td span.m-active:before {
    content: '5';
    position: absolute;
    top: -8px;
    right: 0px;
    color: #fff;
    font-size: 12px;
    padding: 4px 4px 3px 4px;
    background-color: #ff1e0e;
    border-radius: 3px;
    line-height: 1;
}

#i-links i {
    color: #fff;
    font-size: 24px;
    padding: 0px 8px;
    vertical-align: middle;
}

#p-link {
    display: block;
    width: 34px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 50%;
    overflow: hidden;
}

#p-link img {
    width: 100%;
}

/* Header finished */

/* Profile image header */
#profile-upper {
    position: relative;
}

#profile-d {
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
}

#profile-banner-image {
    height: 360px;
    overflow: hidden;
    z-index: 1;
}

#profile-banner-image img {
    width: 100%;
    margin-top: -20%;
}

#profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 3px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
}

#profile-pic img {
    width: 100%;
}

.home-page h1 {
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    padding: 10px;


}

#u-name {
    position: absolute;
    top: 120px;
    left: 208px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

#m-btns {
    position: absolute;
    right: 56px;
    bottom: 20px;
    width: 211px;
}

#m-btns .td {
    padding: 0 8px;
}

.m-btn {
    cursor: pointer;
    color: #0e0e0e;
    font-size: 14px;
    white-space: pre;
    padding: 5px 8px 6px 8px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2px;
}

.m-btn i {
    font-size: 16px;
    margin-right: 1px;
    vertical-align: middle;
}

.m-btn span {
    position: relative;
    top: 1px;
}

#edit-profile {
    position: absolute;
    right: 20px;
    bottom: 21px;
    line-height: 1;
    cursor: pointer;
}

#edit-profile i {
    display: block;
    color: rgba(255, 255, 255, 0.7);
}

#black-grd {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, .53));
    z-index: 1;
}

/* Profile image header finished */


#p-tab-m {
    width: 1px;
    color: #ccc;
    cursor: pointer;
}

#p-tab-m i {
    margin-right: -4px;
}

#composer {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

#c-tabs-cvr {
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
}

#c-tabs {
    width: auto;
    color: #919191;
}

#c-tabs .td {
    position: relative;
    width: 1px;
    padding: 0px 15px;
    white-space: pre;
    cursor: pointer;
}

#c-tabs .td:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background-color: #eaeaea;
}

#c-tabs .td:first-child {
    padding-left: 0px;
}

#c-tabs .td:last-child {
    padding-right: 0;
}

#c-tabs .td:last-child:after {
    display: none;
}

#c-tabs .td span {
    position: relative;
}

#c-tabs .td.active {
    color: #373737;
}

#c-tabs .td.active span:after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -20px;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    border-color: transparent #ececec #ececec transparent;
    margin: 0 auto;
    background-color: #fff;
    transform: rotateZ(45deg);
}

#c-tabs .td i {
    font-size: 21px;
    margin-right: 4px;
    vertical-align: middle;
}

#c-tabs .td span {
    position: relative;
    top: 1px;
    font-size: 15px;
}

#c-c-main {
    position: relative;
    padding-top: 15px;
}

#p-c-i {
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#p-c-i img {
    display: block;
    width: 100%;
}

#c-inp {
    padding-left: 20px;
}

#c-inp textarea {
    width: 100%;
    font-size: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}

#c-c-main input::placeholder {
    color: #666;
}

#insert_emoji {
    position: absolute;
    right: -2px;
    bottom: -10px;
    cursor: pointer;
}

#insert_emoji i {
    display: block;
    color: #ccced6;
    font-size: 21px;
}

.post {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

.p-p-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.p-p-pic img {
    width: 100%;
    display: block;
    border: 0;
}

.p-r-hdr {
    vertical-align: top;
    padding-left: 20px;
}

.p-u-info {
    color: #5a5959;
    font-size: 15px;
    margin-bottom: 7px;
}

.content-alwin {
    width: 100%;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgb(0, 0, 0);
    font-weight: 600;

}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: rgb(0, 0, 0);
    font-weight: 600;
}

::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 600;

}