body {
    background: #3aafa9;
    ;
    margin: 0px;
}

.navbar {
    width: 100%;
}

.form-control {
    box-shadow: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

::placeholder {
    color: rgb(240, 236, 236);
    font-weight: 100;
}


.profile-button {
    background: #3aafa9;
    box-shadow: none;
    color: #fff;
    border: none;
    width: 70%;
}

.profile-button:hover {
    background: #000;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.create-img1 {

    position: relative;
    background-size: cover;
    height: 300px;
    overflow: hidden;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;

}

.content h1 {
    margin: 0;
    font-size: 70px;

}

.content h1 span {
    border: 6px solid #fff;
    padding: 6px 14px;
    display: inline-block;
}

.cen {
    color: #000;
    padding: 10px 24px;
    background: #fff;
    text-decoration: none;
}

.add-bio:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.active a {
    padding: 10px;
    text-decoration: none;
    background: #3aafa9;
    box-shadow: none;
    color: #fff;
    border: none;
    width: 50;
    font-weight: 400;
    border-radius: 4px;
}

.active a:hover {
    color: #000;
}





.gallery {
    background-color: #fff;
    padding: 80px 0;
}

.gallery img {
    background-color: #ffffff;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#gallery-modal .modal-img {
    width: 100%;
}