:root {
    --bc: #efeeee;
    --white: #ffffff;
    --black: #000000;

    --grey: #ecedf3;

    --green: #28a745;
    --light-green: #24e33a;

    --gray: #6c757d;

    --font-family-sans-serif: -apple-system, background-colBlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.container-userlist {
    width: 100%;
    background-color: antiquewhite;
    border-radius: 20px;

}


.user-list-ananthu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-list-alwin {
    width: 100%;
    min-height: 15vh;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.ananthu-left {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ananthu-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.userlist-button {
    margin: 1em;
    border-radius: 3px;
    border: 1px solid var(--grey);
    background-color: var(--light);
    padding: .4em .6em;
    cursor: pointer;
    border-radius: 5px;
    color: var(--black);
    background-color: rgb(253, 253, 253);
}

.userlist-button:hover {
    background-color: black;
    color: blanchedalmond;
}

.ananthu-image-inner {
    width: 3.5rem;
    height: 3.5rem;
    border: .3em solid var(--grey);
    object-fit: cover;
    border-radius: 50%;
    z-index: 2;
}

.gradient {
    width: 100%;
    height: 100%;
    padding: .3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(214, 41, 118, 1) 0%, rgba(250, 126, 30, 1) 100%);
}

.gradient-gray {
    width: 100%;
    height: 100%;
    padding: .3em;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(236, 237, 243, 1) 0%, rgba(228, 229, 233, 1) 100%);
}

.ananthu-right {

    padding-top: 30px;
    width: 100%;
    height: 100%;

}

.user-info {
    font-size: 1.3em;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info h3 {
    font-size: 20px;

}

.uname-verified {
    height: 1.2rem;
}

.user-info .btn {
    margin: 1em;
    border-radius: 3px;
    border: 1px solid var(--grey);
    background-color: var(--light);
    padding: .2em .4em;
    cursor: pointer;
    color: var(--black);
}

.user-links a {
    margin: 0 1em 0 0;
    cursor: pointer;
}

.user-links a span {
    color: var(--black);
    font-weight: bolder;
}

.user-bio-name {
    font-weight: bold;
    margin: 1.75em 0 0 0;
    line-height: 0;
}